.wd-120 {
    width: 120px;
}

label.input-category {
    text-align: left;
}

.jquery-tree {
    list-style: none;
}

.jquery-tree ul {
    list-style: none;
}

.jquery-tree-handle {
    cursor: pointer;
    width: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.jquery-tree-collapsed ul {
    display: none;
}

.jquery-tree-collapseall,
.jquery-tree-expandall {
    cursor: pointer;
}

.jquery-tree-collapseall {
    margin-right: 1em;
}

.jquery-tree input {
    display: none;
}

.jquery-tree-leaf {
    padding-left: 20px;
}

.jquery-tree-node {
    padding-left: 10px;
}

.jquery-tree-title {
    display: inline-block;
}

.jquery-tree-checked-partial,
.jquery-tree-checked,
.jquery-tree-unchecked {
    background-position: 5px 50%;
    background-repeat: no-repeat;
    cursor: default;
    padding-left: 25px;
    margin: 0;
}

.jquery-tree-checked-partial {
    background-image: url('../image/checkbox-partial.png');
}

.jquery-tree-checked {
    background-image: url('../image/checkbox-checked.png');
}

.jquery-tree-unchecked {
    background-image: url('../image/checkbox-unchecked.png');
}

.jquery-tree-node label,
.jquery-tree-handle {
    -moz-user-select: none;
}

.ispan {
    float: right;
    margin-right: 6px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: #32a1ce;
    border: 1px dotted #32a1ce;
    padding-right: 5px;
    padding-left: 5px;
}
